{% extends base %}

{% block title %}PyFrag Job Summary{% endblock %}

{% block postamble %}
  <style>
    {% include 'styles.css' %}
  </style>
{% endblock %}

{% block contents %}
  <div class="content">
    <h1>PyFrag Job Summary</h1>

    <p>





<br> [11:21:06] Job r1 finished with status 'failed'
<br> [11:21:54] Job ts finished with status 'successful'
<br> [11:22:38] Job rc finished with status 'successful'
<br> [11:23:59] Job p finished with status 'successful'
<br> [11:53:08] Job irc finished with status 'failed'
<br> [11:53:20] Job frag2.00001 finished with status 'successful'
<br> [11:53:52] Job r2 finished with status 'successful'
<br> [11:53:58] Job frag1.00001 finished with status 'successful'
<br> [11:54:18] Job Pd1H4C1.00001 finished with status 'successful'
<br> [11:54:28] Job frag2.00002 finished with status 'successful'
<br> [11:54:36] Job frag1.00002 finished with status 'successful'
<br> [11:54:55] Job Pd1H4C1.00002 finished with status 'successful'
<br> [11:55:06] Job frag2.00003 finished with status 'successful'
<br> [11:55:11] Job frag1.00003 finished with status 'successful'
<br> [11:55:31] Job Pd1H4C1.00003 finished with status 'successful'
    </p>
    {{ super() }}
    <div class="videoWrapper">
    <iframe width="820" height="615" src="http://localhost/~xiaobo/video/ircgeometry/" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videoWrapper">
    <iframe width="820" height="615" src="http://localhost/~xiaobo/video/pgeometry/" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videoWrapper">
    <iframe width="820" height="615" src="http://localhost/~xiaobo/video/r2geometry/" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videoWrapper">
    <iframe width="820" height="615" src="http://localhost/~xiaobo/video/rcgeometry/" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="videoWrapper">
    <iframe width="820" height="615" src="http://localhost/~xiaobo/video/tsgeometry/" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
